<div class="container">
  <div class="img">
  <img src="/assets/image/6.png" width="100%"></div>
  <div class="content">
  <h3><P>Coronary artery disease is a common heart condition that affects the major blood vessels
     that supply the heart muscle. Cholesterol deposits (plaques) in the heart arteries are usually
     the cause of coronary artery disease.The buildup of these plaques is called atherosclerosis.
     Atherosclerosis reduces blood flow to the heart and other parts of the body.
     It can lead to a heart attack, chest pain (angina) or stroke.</P></h3>
     <br>
     <button>BOOK AN APPOINTMENT</button>
    </div>
</div>



