<div class="container">
  <div class="img">
  <img src="/assets/image/10.png" width="100%"></div>
  <div class="content">
  <h3><p>Your smile is the first thing people notice about you,and a dentist is a prerequisite to having a good one! Besides,recent studies have shown a connection between oral and overall health.
    Consulting a dentist for a dental cleaning and oral checks at least once every six months will ensure that your radiant smile exudes charm forever.</p></h3>
    <br>
    <button>BOOK AN APPOINTMENT</button>
    </div>
</div>



