<div class="info">
  <div class="fix">
    <aside class="slidebar">
      <div>
        <img src="/assets/image/slides3.jpeg" alt="person"></div>
        <div>
          <a routerLink="home"><i class="fa fa-home"></i>Home</a>
          <a routerLink="booking"><i class="fa fa-bookmark"></i>Booking</a>
          <a routerLink="#"><i class="fa fa-file-pdf-o"></i>Report</a>
          <a routerLink="#"><i class="fa fa-credit-card-alt"></i>Payment</a>
        </div>
      </aside>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <div class="content">
      <br>
      <ul>
        <h4 class="foot">CONTACT INFORMATION</h4><br>
        <li>Brookyin , NY 10036 United States</li>
        <li>hospitalmanagement@gmail.com</li>
        <li>Call Us: +1-800-123-234</li>
    </ul>
    </div>
    <div class="content">
      <br>
      <ul>
        <h4 class="foot">SERVICES</h4><br>
        <li><a>HEART PROBLEM</a></li>
        <li>DIABETES</li>
        <li>DENTAL</li>
        <li>OPHTHAMOLOGY</li>
        <li>PULMONOLOGIST</li></ul>
    </div>
    <div class="content">
      <br>
      <ul>
          <h4 class="foot">OPENING HOURS</h4><br>
          <li>Mon-Thu 7.00-20.00</li>
          <li>Friday 7.00-19.00</li>
          <li>Saturday 9.00-16.00</li>
          <li>Sunday 9.00-13.00</li>
      </ul></div>
    <div class="content">
      <br>
      <h4 class="foot">FOLLOW</h4><br>
      <div class="links">
        <a routerlink="#"><i class="fa fa-facebook-square"></i></a>
        <a routerlink="#"><i class="fa fa-instagram"></i></a>
        <a routerlink="#"><i class="fa fa-twitter-square"></i></a>
        <a routerlink="#"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
</footer>


