<div class="container">
  <div class="img">
  <img src="/assets/image/8.png" width="100%"></div>
  <div class="content">
  <h3><p>An ophthalmologist is an eye specialist who deals with eye issues ranging from regular vision care to complex eye surgeries and everything in between. Whether it be for an annual
    eye check-up, prescription lens or corrective eye surgeries,a visit to an ophthalmologist at least once a year is a must!</p></h3>
     <br>
     <button>BOOK AN APPOINTMENT</button>
    </div>
</div>



