
<div class="container">
  <div class="head">
    <h1>Meet Medulance</h1><br>
    <h3>For Emergency Medical Service</h3><br>
    <p>Help / Rescues the Patient in case of the Emergency<p>
      <p>situation by doing just a click.Medulance Ambulance</p>
      <p>comes right in front of the door for help.</p><br>
    <p>Call our Assistance</p><br>
    <button>+91 99422 77889</button>
  </div>
  <div class="img">
    <img class="image" src="/assets/image/2.png" width="100%">
  </div>

  <br>
  <h1>Types of Ambulance Available</h1>

  <div class="type">
    <div class="ambulance">
      <h1>Basic Ambulance</h1>
      <p>"Basic Life Support Ambulance" is for the patients who need
        medical transportation. It Comparies of patients bed, pulse oximetry
        and oxygen delivery device.
      </p>
    </div>
    <div class="ambulance">
      <h1>Advance Ambulance</h1>
      <P>"ALS Ambulance" is equipped with ventilator,
        ECG, Monitoring devices and paramedic staff.
      </P>
    </div>
    <div class="ambulance">
      <h1>Mortuary Ambulance</h1>
      <p>"Mortuary Ambulance" services are used for the transportation
        of the dead body.It is also called as Hearse van.
      </p>
    </div>
    <div class="ambulance">
      <h1>Neonatal Ambulance</h1>
      <p>"Neonatal Ambulance" services are a vital part of care for
        premature and sick babies, to ensure that babies can moved quickly
        for the right care in the right place for their needs.
      </p>
    </div>
  </div>
</div>




