<div class="container">
  <div class="head">
    <h1>Meet Medulance</h1><br>
    <h3>For Emergency Medical Service</h3><br>
    <p>Help / Rescues the Patient in case of the Emergency<p>
      <p>situation by doing just a click.Medulance Ambulance</p>
      <p>comes right in front of the door for help.</p><br>
    <button>BOOK NOW</button><br>
    <p>or</p>
    <p>Call our Assistance</p><br>
    <button>+91 99422 77889</button>
  </div>
  <div>
    <img src="/assets/image/3.png" width="100%">
  </div>
</div>











