<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav>
  <div class="header">
    <div>
    <img src="/assets/image/logooo.png"></div>
    <div class="nav">
      <a routerLink="home"><i class="fa fa-home"></i>Home</a>
      <a routerLink="service"><i class="fa fa-child"></i>Service</a>
      <a routerLink="department"><i class="fa fa-heartbeat"></i>Department</a>
      <a routerLink="doctor"><i class="fa fa-user-md"></i>Doctors</a>
      <a routerLink="info"><i class="fa fa-user"></i>Personal info</a>
      <a routerLink="login"><i class="fa fa-sign-in"></i>Login</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<!-- <app-reactivelogin></app-reactivelogin> -->
