<div class="homepage">
  <br>
<div class="header">
  <div class="back">
  <div class="image">
    <img src="/assets/image/11.png">
  </div>
  <div class="quotes">
    <h1>
    <p>Trust Us! We Are here to...</p>
    <p>Save ur life...</p></h1>
  </div>
  </div>
</div>

<br>

<div class="about">
  <div class="list">
    <i class="fa fa-user-md"></i>
    <br>
    <h2>50+</h2>
    <br>
    <p>Doctors at work</p>
  </div>
  <div class="list">
    <i class="fa fa-users" ></i>
    <br>
    <h2>1000+</h2>
    <br>
    <p>Happy Patients</p>
  </div>
  <div class="list">
    <i class="fa fa-bed"></i>
    <br>
    <h2>100+</h2>
    <br>
    <p>Bed facility</p>
  </div>
  <div class="list">
    <i class="fa fa-hospital-o"></i>
    <br>
    <h2>30+</h2>
    <br>
    <p>Hospital Available</p>
  </div>
</div>

<br>

<div class="heading">
  <h1 class="foot">Our Services</h1></div>

<div class="service">
  <div class="services">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    <br>
    <p>Free Checkup</p>
    <br>
    <button><a routerLink="/service/freecheckup">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
  <div class="services">
    <i class="fa fa-ambulance" aria-hidden="true"></i>
    <br>
    <p>24/7 Ambulance</p>
    <br>
    <button><a routerLink="/service/ambulance">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
  <div class="services">
    <i class="fa fa-user-md" aria-hidden="true"></i>
    <br>
    <p>Experts Consultancy</p>
    <br>
    <button><a routerLink="/service/freecheckup">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
  <div class="services">
    <i class="fa fa-medkit" aria-hidden="true"></i>
    <br>
    <p>Medicines</p>
    <br>
    <button><a routerLink="/service/medicine">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
  <div class="services">
    <i class="fa fa-tint" aria-hidden="true"></i>
    <br>
    <p>Blood Bank</p>
    <br>
    <button><a routerLink="/service/bloodbank">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
  <div class="services">
    <i class="fa fa-bed"></i>
    <br>
    <p>Scan Center</p>
    <br>
    <button><a routerLink="/service/scancenter">Learn More<i class="fa fa-angle-double-right" id="icon"></i></a></button>
  </div>
</div>


<footer class="footer">
      <div class="content">
        <br>
        <ul>
          <h4 class="foot">CONTACT INFORMATION</h4><br>
          <li>Brookyin , NY 10036 United States</li>
          <li>hospitalmanagement@gmail.com</li>
          <li>Call Us: +1-800-123-234</li>
      </ul>
      </div>
      <div class="content">
        <br>
        <ul>
          <h4 class="foot">DEPARTMENT</h4><br>
          <li><a>HEART PROBLEM</a></li>
          <li>DIABETES</li>
          <li>DENTAL</li>
          <li>OPHTHAMOLOGY</li>
          <li>PULMONOLOGIST</li></ul>
      </div>
      <div class="content">
        <br>
        <ul>
            <h4 class="foot">OPENING HOURS</h4><br>
            <li>Mon-Thu 7.00-20.00</li>
            <li>Friday 7.00-19.00</li>
            <li>Saturday 9.00-16.00</li>
            <li>Sunday 9.00-13.00</li>
        </ul></div>
      <div class="content">
        <br>
        <h4 class="foot">FOLLOW</h4><br>
        <div class="links">
          <a routerlink="#"><i class="fa fa-facebook-square"></i></a>
          <a routerlink="#"><i class="fa fa-instagram"></i></a>
          <a routerlink="#"><i class="fa fa-twitter-square"></i></a>
          <a routerlink="#"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
</footer>
</div>
