<div class="container">
  <div class="img">
  <img src="/assets/image/7.png" width="100%"></div>
  <div class="content">
  <h3><P>These diseases affect the structure of the lung tissue. Scarring or inflammation of the tissue makesthe lungs unable to expand fully (restrictive lung disease).This makes it
    hard for the lungs to take in oxygen and release carbon dioxide. People with this type of lung disorder often say they feel as if they are "wearing a too-tight sweater or vest.
    Pulmonary fibrosis and sarcoidosis are examples of lung tissue disease.</P></h3>
    <br>
    <button>BOOK AN APPOINTMENT</button>
    </div>
</div>




